:host {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 1rem;
  max-width: 50rem;
  min-width: 35rem;
}
