<mat-card>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search:</mat-label>
    <input matInput placeholder="Search" #searchInput (keyup)="onChange(sectionSelect.value, searchInput.value)">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Section:</mat-label>
    <mat-select multiple #sectionSelect (selectionChange)="onChange(sectionSelect.value, searchInput.value)">
      <mat-option *ngFor="let section of sections" [value]="section">{{ section }}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="sectionSelect?.value?.length === 1 && sectionSelect.value[0] === 'people'">
    <app-filter></app-filter>
  </ng-container>

  <mat-list>
    <mat-list-item *ngFor="let item of (filteredList$ | async)" (click)="selectCharacter(item.url)">
      {{ item.url }}
    </mat-list-item>
  </mat-list>
  <mat-card *ngIf="(selected$ | async) as item">
    <p>{{ item.url }}<br/>{{ item.created }}</p>
    <ng-container *ngIf="sectionSelect?.value?.length === 1 && sectionSelect.value[0] === 'people'">
      <p>{{ $any(item).eye_color }}<br/>{{ $any(item).hair_color }}</p>
    </ng-container>
  </mat-card>
</mat-card>
