:host {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  display: flex;
  justify-content: space-between;
}

#generic-filters {
  display: flex;

  app-sections-select {
    width: 60%;
  }

  app-search {
    width: 35%;
  }
}

.card {
  margin-bottom: 1rem;
  max-width: 50rem;
  min-width: 35rem;
}
