<mat-card class="card" id="generic-filters">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search:</mat-label>
    <input matInput placeholder="Search" #searchInput (keyup)="onChange(sectionSelect.value, searchInput.value)">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Section:</mat-label>
    <mat-select multiple #sectionSelect (selectionChange)="onChange(sectionSelect.value, searchInput.value)">
      <mat-option *ngFor="let section of sections" [value]="section">{{ section }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<mat-card class="card" *ngIf="sectionSelect?.value?.length === 1">
  <app-filter [section]="sectionSelect.value[0]"></app-filter>
</mat-card>

<mat-card class="card" id="main-container">
  <ng-container *ngIf="(filteredList$ | async) as items">
    <app-items-list [items]="items"></app-items-list>
  </ng-container>

  <ng-container *ngIf="(selected$ | async) as selected">
    <app-selected-item [selectedItem]="selected"></app-selected-item>
  </ng-container>
</mat-card>
