<ng-template #people let-person>
  <p>{{ person.eye_color }}<br/>{{ person.hair_color }}<br/>{{ person.name }}<br/>{{ person.gender }}</p>
</ng-template>

<ng-template #planets let-planet>
  <p>{{ planet.terrain }}<br/>{{ planet.climate }}<br/>{{ planet.rotation_period }}</p>
</ng-template>

<ng-template #starships let-starship>
  <p>{{ starship.max_atmosphering_speed }}<br/>{{ starship.passengers }}</p>
</ng-template>

<mat-card>
  <p>{{ selectedItem.url }}<br/>{{ selectedItem.created }}</p>
  <ng-container [ngSwitch]="section">
    <ng-container *ngSwitchCase="'people'">
      <ng-container *ngTemplateOutlet="people; context: { $implicit: selectedItem }" ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'planets'">
      <ng-container *ngTemplateOutlet="planets; context: { $implicit: selectedItem }" ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'starships'">
      <ng-container *ngTemplateOutlet="starships; context: { $implicit: selectedItem }" ></ng-container>
    </ng-container>
  </ng-container>
</mat-card>
