<ng-template #people let-person>
  <p>Eye color: {{ person.eye_color }}<br/>Hair color: {{ person.hair_color }}<br/>Gender: {{ person.gender }}</p>
</ng-template>

<ng-template #planets let-planet>
  <p>Terrain: {{ planet.terrain }}<br/>Climate: {{ planet.climate }}<br/>Rotation period: {{ planet.rotation_period }}</p>
</ng-template>

<ng-template #starships let-starship>
  <p>Max atmosphering speed: {{ starship.max_atmosphering_speed }}<br/>Passengers: {{ starship.passengers }}</p>
</ng-template>

<mat-card matRipple>
  <img [src]="imageUrl" [alt]="selectedItem.name">
  <ng-container [ngSwitch]="section">
    <ng-container *ngSwitchCase="'people'">
      <ng-container *ngTemplateOutlet="people; context: { $implicit: selectedItem }" ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'planets'">
      <ng-container *ngTemplateOutlet="planets; context: { $implicit: selectedItem }" ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'starships'">
      <ng-container *ngTemplateOutlet="starships; context: { $implicit: selectedItem }" ></ng-container>
    </ng-container>
  </ng-container>
</mat-card>
